.container {
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

:global(.dark) .container {
  background-color: hsl(0 0% 15%); 
}

.suggestionButton {
  width: 100%;
  padding: 0.75rem 1rem;
  text-align: left;
  transition: all 150ms ease;
  outline: none;
  color: rgb(17 24 39); 
  font-weight: 500;
}

:global(.dark) .suggestionButton {
  color: rgb(243 244 246); 
}

.suggestionButton:hover {
  background-color: rgb(243 244 246); 
}

:global(.dark) .suggestionButton:hover {
  background-color: rgb(75 85 99); 
}

.suggestionText {
  display: block;
  font-size: 0.875rem; 
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .suggestionButton {
    padding: 0.5rem 0.75rem;
  }
  
  .suggestionText {
    font-size: 0.8rem;
  }
}

@media (orientation: landscape) and (max-height: 600px) {
  .suggestionButton {
    padding: 0.5rem 0.75rem;
  }
  
  .suggestionText {
    font-size: 0.8rem;
  }
}
