.container {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
}

.bubble {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  background-color: hsl(var(--card));
  border: 2px solid hsl(var(--border));
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: colors 150ms ease;
  width: var(--bubble-size);
  height: var(--bubble-size);
}

:global(.dark) .bubble {
  background-color: hsl(var(--card));
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.clickable {
  cursor: pointer;
}

.notClickable {
  cursor: not-allowed;
  opacity: 0.5;
}

.particle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.bubbleClickable {
  composes: bubble clickable;
}

.bubbleNotClickable {
  composes: bubble notClickable;
}

.icon {
  filter: var(--icon-filter);
  transition: opacity 0.3s ease;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  width: 60%;
  height: 60%;
}

.iconClickable {
  composes: icon;
  opacity: 0.7;
}

.iconNotClickable {
  composes: icon;
  opacity: 0.4;
}
