.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.innerContainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: transform 300ms ease-out;
}

.card {
  position: absolute;
  padding: 0;
  border: 0;
  border-radius: 0.5rem;
}

.cardClickable {
  cursor: pointer;
}

.cardNonClickable {
  cursor: not-allowed;
  opacity: 0.7;
}

@media (orientation: landscape) and (max-height: 600px) {
  .container {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}
