.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  position: relative;
  border-radius: 0.5rem;
}

@media (min-width: 640px) {
  .container {
    padding: 1.5rem;
  }
}

.factCard {
  background-color: var(--fact-card-color, hsl(var(--primary)));
}

.inStack {
  border: 1px solid rgb(255 255 255 / 0.4);
}

:global(.dark) .inStack {
  border-color: rgb(255 255 255 / 0.2);
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
