.container {
  width: 100%;
  max-width: 56rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 32rem; 
  margin-left: auto;
  margin-right: auto;
}

.controlsArea {
  width: 100%;
  padding-left: 0.5rem;
  z-index: 10;
}


.factsArea {
  display: flex;
  width: 100%;
  max-width: 28rem; 
  gap: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: 1024px) {
  .factsArea {
    max-width: 36rem; 
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 100%;
  }
  
  .factsArea {
    gap: 0.25rem;
    margin-top: 5px; 
  }
  
  .controlsArea {
    border-top: none; 
  }
}

@media (orientation: landscape) and (max-height: 600px) {
  .controlsArea {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}
