.container {
  width: 100%;
  max-width: 56rem; /* max-w-4xl */
  border-radius: 0.5rem;
  position: relative;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}


.cardStackWrapper {
  width: 100%;
  transition: opacity 300ms ease-out;
}

@media (max-width: 480px) {
  .container {
    border-radius: 0.25rem;
  }
}

@media (orientation: landscape) and (max-height: 600px) {
  .container {
    border-radius: 0.25rem;
  }
}
