/**
 * CSS Modules for ModalNavButton component
 */

.button {
  display: flex;
  align-items: center;
  font-weight: 700;
  transition: all 0.2s;
  outline: none;
  min-width: 100px;
  height: 36px;
  border-radius: 10px;
  border: 2px solid;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
  padding: 0;
  overflow: hidden;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.arrowSegment {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 36px;
}

.arrowSegmentPrev {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: 2px;
}

.arrowSegmentNext {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.textSegment {
  flex: 1;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textSegmentNext {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-right: 2px;
}

.textSegmentPrev {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-left: 2px;
}
